@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anton SC', sans-serif;
  color: black;
  font-size: 22px;
	font-weight: 100;
	background-attachment: fixed;
  /* background-image: url(images/fon.webp)
  background-repeat: no-repeat;
  background-size: cover;
  background: fixed; */
} 

.blocks {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  border: 3px solid black;
  height: 200px;
  width: 500px;
  line-height: 70px;
}

.imena {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  
}